@using MudOqtaneRazorControls.Controls.Module.Base
@inherits LabelBase

@if (!string.IsNullOrEmpty(HelpText))
{
    <MudTooltip Text="@HelpText" Arrow="true" Placement="Placement.Bottom">
        <label for="@For" class="@LabelClass">@ChildContent</label> <MudIcon Icon="@MB.Icons.Material.Filled.Help"Size="Size.Small" />
    </MudTooltip>
}
else
{
    <label for="@For" class="@LabelClass">@ChildContent</label>
}

